!!!
%html(lang="en" data-bs-theme="dark")
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport',
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}

    %meta{:name => "author", :content => "Gimenez, Christian"}
    %meta{:name => "description", :content => "Christian Gimenez Homepage. Información acerca de crowd, investigaciones, cursos y datos de contacto."}
    %meta{:name => "keywords", :content => "homepage, Christian Gimenez, knowledge graphs, semantic web, programming, emacs, orgmode"}

    %link{:rel => "apple-touch-icon", :href => "imgs/favicon.png"}
    %link{:rel => "shortcut icon", :type => "image/x-icon",
          :href => "imgs/favicon.ico", :size => "48x48"}
    %link{:rel => "icon", :type => "image/png",
          :href => "imgs/favicon-32x32.png", :size => "32x32"}
    %link{:rel => "icon", :type => "image/png",
          :href => "imgs/favicon-16x16.png", :size => "16x16"}

    %link{:rel => "stylesheet", :href => "./libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "./libs/aos.css"}
    %link{:rel => "stylesheet", :href => "./libs/fontawesome/css/all.min.css"}
    %link{:rel => "stylesheet", :href => "./libs/index.css"}
    %link{:rel => "stylesheet", :href => "https://www.suchat.org/wp-json/presence/css/christiangimenez@suchat.org"}

    %title Christian Gimenez
 
  %body
    - load 'scripts/myhelpers.rb'

    /
      By default AOS hides everything it affects, which is problematic when JS is disabled
      for any reason the user may have (and yes, I sometimes disable JS too!).
      This noscript fixes that showing all when JS is disabled.
    %noscript
      %style
        [data-aos] {
        visibility: visible !important;
        opacity: 1 !important;
        transform: none !important; }
       
    != render_file('navbar-es.haml')    
    
    .container.my-1#top
      .sec-keywords
        != render_file('goto-es.haml')

      .title
        #particles-title
        .title-text
          %h1 Christian Gimenez
          != render_file('keywords-es.haml')
      
      .sec-likes#likes
        != render_file('likes-es.haml')
      
      -# --------------------------------------------------

      .sec-contact#contact
        != render_file('contact-es.haml')

      -# --------------------------------------------------

      .sec-pk#public_key
        != render_file('pk-es.haml')

      -# --------------------------------------------------

      .sec-wiki#wiki
        != render_file('wiki-es.haml')
        
      -# --------------------------------------------------

      .sec-repos#repositories
        != render_file('repos-es.haml')
        
      -# --------------------------------------------------

      -# --------------------------------------------------
      .sec-acces#accesibility
        != render_file('accesibility-es.haml')
        
      %hr/
      %p
        %a.btn.btn-secondary{:href => "#top"}
          %i.fas.fa-chevron-up
          Ir arriba

      -# --------------------------------------------------
      .footer{'data-role' => 'footer'}
        %address
          %a{:href => 'mailto:christian.gimenez@fi.uncoma.edu.ar'}
            Gimenez, Christian

        %p
          Última actualización:
          = Time.now.strftime '%d %b %Y'

    %script{:src => "./libs/jquery.min.js"}
    -# %script{:src => "./libs/popper-2.9.1.min.js"}
    %script{:src => "./libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"}
    %script{:src => "./libs/aos.js", :defer => true}
    %script{:src => "./libs/particles.js", :defer => true}
    %script{:src => "./libs/masonry-4.2.2.pkgd.min.js", :async => true}
    %script{:src => "./libs/index.js"}

    -# #particles-bg
