%h2 This site implement some accesibility features
%p
  This site was made with some accesibility features in mind. The
  %a(href="https://webaim.org/") WebAIM
  guidelines were used as a reference in many aspects. For example, colour contrast, structural elements, images and icons with alterantive texts, some navigation and focus order.

%p
  However, this is still a work in progress. If you find any mistake or any problem while reading and understanding this Webpage, please contact me by e-mail at
  %code
    christian.gimenez at fi.uncoma.edu.ar
  or by any of the methods described at the Contact Section above.

