%h2 Este Sitio Implementa Algunas Características de Accesibilidad
%p
  Este sitio fue hecho con algunas características de accesibilidad en mente. Las guías de
  %a(href="https://webaim.org/") WebAIM
  fueron utilizadas como referencias en varios aspectos. Por ejemplo, el contraste de color, la estructura de los elementos, imágenes e íconos con textos alternativos, órdenes de navegación y foco.
%p
  A pesar de todo, sigue siendo un trabajo no terminado. Si encontrás algún error o algún problema al leer y comprender esta página Web, contactáme por e-mail a
  %code
    christian.gimenez at fi.uncoma.edu.ar
  o por cualquiera de los métodos descriptos en la sección de Contacto de más arriba.

