%h1 Contact Info
%br

.container.my-3(data-aos="fade-right")
  %h2 vCard
  .row.align-items-center
    .col-8
      %p
        Download a vCard file with all my contact information.
      %p
        %a.btn.btn-primary{ :href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/vcard.vcf"}
          Download vCard
    .col-4
      %img{ :src => './imgs/vcard.webp',
           :alt => "vCard logo",
           :width => "150",
           :height => "150"}


.container.my-32(data-aos="fade-right")
  %h2 XMPP
  .row.align-items-center
    .col-8  
      %p
        You can chat with me using XMPP! I'm always connected!
      %p
        My Web presence is shown at the top of the page.
        Colours means: green is connected, red is busy, and gray means away.
      %p
        My XMPP address is:
      %p
        %a.nav-link{ :href => "xmpp:christiangimenez@suchat.org" }
          %i.far.fa-lightbulb.fa-fw.fa-lg
          christiangimenez@suchat.org
      %p
        Use one of the programs
        %a(href="https://www.suchat.org/clientes/" taget="_blank")
          listed here
        !
      %p
        But if you don't want to install anything: There are Web clients too!
        %a(href="https://www.suchat.org/converse/" target="_blank")
          Check this out!

      %p
        %a.btn.btn-primary{ :href => 'https://www.suchat.org/crear-una-cuenta-xmpp/' }
          Create your account!
        %a.btn.btn-secondary(href="https://www.suchat.org/converse/")
          Web client
    .col-4
      %img{ :src => "./imgs/xmpp.webp",
           :alt => "XMPP logo",
           :width => "150",
           :height => "154"}


.container.my-3(data-aos="fade-right")
  %h2 Public Key
  .row.align-items-center
    .col-8
      %p
        You can download my public key from the button below or use the GPG2 utility with the following console command:
      %p
        %code gpg2 --receive-keys C936B214EB93830D
      %p
        More information on
        %a{ :href => "https://emailselfdefense.fsf.org/"} Email Self Defense webpage.

      %p
        %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/certificates/8EA85F43420045020C30EC02C936B214EB93830D.asc"}
          Download
    .col-4
      %img{ :src => './imgs/keypair.webp',
           :alt => "The GnuPG robot holding two keys on his hand with PUB and PRIV lables.",
           :width => "150",
           :height => "114"}
       
.container.my-3(data-aos="fade-right")
  %h2 Mastodon
  .row.align-items-center
    .col-8
      %p
        From time to time, I post things on Mastodon social network. Send me a message at
        %code @cnngimenez
        or check my profile!
      %p
        %a.btn.btn-primary{ :rel => "me", :href => 'https://mastodon.social/@cnngimenez' }
          See my profile
    .col-4
      %img{ :src => './imgs/Mastodon.webp',
           :alt => 'The Mastodon logo.',
           :width => "150",
           :height => "150"}
