%h1 Información de Contacto
%br

.container.my-3(data-aos="fade-right")
  %h2 vCard
  .row.align-items-center
    .col-8
      %p
        Decargar el archivo vCard con toda mi información de contacto.
      %p
        %a.btn.btn-primary{ :href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/vcard.vcf"}
          Descargar vCard
    .col-4
      %img{ :src => './imgs/vcard.webp',
           :alt => "Logo de vCard",
           :width => "150",
           :height => "150"}


.container.my-32(data-aos="fade-right")
  %h2 XMPP
  .row.align-items-center
    .col-8  
      %p
        ¡Chatea conmigo usando XMPP! ¡Estoy siempre conectado!        
      %p
        Podés ver mi presencia Web en la barra de arriba de la página.
        Los colores significan: Verde es conectado, rojo ocupado y gris lejos del celular.
      %p
        Mi dirección XMPP es:
      %p
        %a.nav-link{ :href => "xmpp:christiangimenez@suchat.org" }
          %i.far.fa-lightbulb.fa-fw.fa-lg
          christiangimenez@suchat.org
      %p
        ¡Utiliza uno de estos programas
        %a(href="https://www.suchat.org/clientes/" taget="_blank")
          listados aquí
        !
      %p
        Pero, si no querés instalar nada: ¡Hay clientes Webs también!
        %a(href="https://www.suchat.org/converse/" target="_blank")
          ¡Probá este cliente Web!

      %p
        %a.btn.btn-primary{ :href => 'https://www.suchat.org/crear-una-cuenta-xmpp/' }
          ¡Crea tu cuenta!
        %a.btn.btn-secondary(href="https://www.suchat.org/converse/")
          Ir al Cliente Web
    .col-4
      %img{ :src => "./imgs/xmpp.webp",
           :alt => "XMPP logo",
           :width => "150",
           :height => "154"}


.container.my-3(data-aos="fade-right")
  %h2 Clave Pública
  .row.align-items-center
    .col-8
      %p
        Mi clave pública se puede descargar con el botón siguiente o usando la herramienta GPG2 desde una consola de comandos:
      %p
        %code gpg2 --receive-keys C936B214EB93830D
      %p
        Más información en:
        %a{ :href => "https://emailselfdefense.fsf.org/es/"} Página Web de Email Self Defense.

      %p
        %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/certificates/8EA85F43420045020C30EC02C936B214EB93830D.asc"}
          Descargar mi Clave Pública
    .col-4
      %img{ :src => './imgs/keypair.webp',
           :alt => "El robot GnuPG sosteniendo dos llaves en sus manos que tienen las etiquetas PUB y PRIV.",
           :width => "150",
           :height => "114"}
       
.container.my-3(data-aos="fade-right")
  %h2 Mastodon
  .row.align-items-center
    .col-8
      %p
        Cada tanto, publico cosas en la red social Mastodon. Chequeá mi perfil o envíame un mensaje a 
        %code @cnngimenez
      %p
        %a.btn.btn-primary{ :rel => "me",  :href => 'https://mastodon.social/@cnngimenez' }
          Ver mi perfil
    .col-4
      %img{ :src => './imgs/Mastodon.webp',
           :alt => 'El logo de Mastodon.',
           :width => "150",
           :height => "150"}
