%p
  %i.fas.fa-language
  Languages:
  %a(href="index.html") Spanish (Español)
  |
  %b English
%p
  Goto:
  %a(href="#likes") Likes
  |
  %a(href="#contact") Contact
  |
  %a(href="#public_key") Public Key
  |
  %a(href="#wiki") Class resources
  |
  %a(href="#repositories") Repositories
  |
  %a(href="?particles=off")
    %i.fas.fa-wrench
    reload page without particles
