%p
  %i.fas.fa-language
  Idiomas:
  %b Español
  |
  %a(href="index-en.html") Inglés (English)
%p
  Ir a:
  %a(href="#likes") Mis Intereses
  |
  %a(href="#contact") Contacto
  |
  %a(href="#public_key") Clave Pública
  |
  %a(href="#wiki") Materiales usados en clases
  |
  %a(href="#repositories") Repositorios
  |
  %a(href="?particles=off")
    %i.fas.fa-wrench
    recargar página sin partículas
