%p
  %span.badge.bg-primary(alt="Semantic Web") Web Semántica
  %span.badge.bg-primary(alt="Knowledge Graphs") Grafos de Conocimiento
  %span.badge.bg-primary(alt="Ontologies") Ontologías
  %span.badge.bg-primary(alt="crowd") crowd
  %span.badge.bg-primary(alt="Emacs") Emacs
  %span.badge.bg-primary(alt="Org-mode") Org-mode
  %span.badge.bg-primary(alt="Libre Software") Software Libre

