%p
  %span.badge.bg-primary(alt="Semantic Web") Semantic Web
  %span.badge.bg-primary(alt="Knowledge Graphs") Knowledge Graphs
  %span.badge.bg-primary(alt="Ontologies") Ontologies
  %span.badge.bg-primary(alt="crowd") crowd
  %span.badge.bg-primary(alt="Emacs") Emacs
  %span.badge.bg-primary(alt="Org-mode") Org-mode
  %span.badge.bg-primary(alt="Libre Software") Libre Software

