%h1 Mis Intereses

-#
  which is the JS responsible for adding a "style" attribute to the
  first row!? This fixes it, but is so annoying!!!
.row.align-items-center
  .col-8
  .col-4

.container.my-3(data-aos="fade-up")
  %h2 Universidad Nacional del Comahue (UNCo)
  
  .row.align-items-center
    .col-8
      %p
        Mi universidad donde trabajo y estudio. ¡Es mi
        %em Alma Mater
        !
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://uncoma.edu.ar/' }
          Ir a la página Web de UNCo
    .col-4
      %img{ :src => './imgs/UNComa.jpg',
           :width  => "150",
           :height => "150",
           :alt => "Logo de la universidad."}
          
.container.my-3(data-aos="fade-up")
  %h2 Facultad de Informática (FaI)
  .row.align-items-center
    .col-8
      %p
        Dentro de la UNCo, la Facultad de Informática es donde tengo mi lugar de trabajo específicamente.
        Aquí es donde comparto mi espacio con mis colegas y también enseño.
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://faiweb.uncoma.edu.ar/' }
          Ver la págian Web de la FaI
    .col-4
      %img{ :src => './imgs/FAI.webp',
           :width => "150",
           :height => "150",
           :alt => "El logo de la facultad."}

.container.my-3(data-aos="fade-up")
  %h2 crowd
  .row.align-items-center
    .col-8
      %p
        Hace un tiempo atrás, ayudé a desarrollar crowd. Es una herramienta visual para que diversos stackholders puedan envolverse en la ingeniería ontológica.
      %p
        El objetivo de la herramienta es para usar lenguajes visuales ampliamente conocidos, junto con servicios de razonamiento, para simplificar el desarrollo y modelado de ontologías.      
      %a.btn.btn-primary.my-1{ :href => 'http://crowd.fi.uncoma.edu.ar' }
        Visitar la página Web de crowd
    .col-4
      %img{ :src => './imgs/crowd-small.webp',
           :width => "150",
           :height => "150",
           :alt => "El logo de crowd."}

.container.my-3(data-aos="fade-up")
  %h2 Software Libre
  .row.align-items-center
    .col-8
      %p
        Utilizo Software Libre en mi día a día. Desde GNU/Linux hasta Emacs, Firefox y cualquier herramienta publicada bajo licencias libres.
        Participo en eventos acerca ética del software y Software Libre.
      %p
        ¿Te gustaría saber más acerca de este tema? ¡Clic en el siguiente link/botón!
      %p
        %a.btn.btn-primary.btn-block.btn-lg{ :href => 'https://fsf.org/' }
          Saber más de Software Libre
    .col-4
      %img{ :src => "./imgs/heckert_gnu.small.webp",
           :width => "150",
           :height => "143",
           :alt => "El logo de GNU."}

      
.container.my-3(data-aos="fade-up")
  %h2 Proyecto LaTeX
  .row.align-items-center
    .col-8
      %p
        LaTeX es mi compilador de texto favorito. Junto con Org-mode y Emacs, ¡los uso para hacer casi todo!
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://www.latex-project.org/' }
          Ver página Web de LaTeX
        %a.btn.btn-secondary.my-1{ :href => 'https://ctan.org/' }
          Ir al repositorio CTAN
    .col-4
      %img{ :src => './imgs/LaTeX_only_bird.webp',
           :width => "150",
           :height => "115",
           :alt => "El logo de LaTeX 3."}

.container.my-3(data-aos="fade-up")
  %h2 Org-Mode
  .row.align-items-center
    .col-8
      %p
        Org-mode es un modo mayor de Emacs. Es un sistema de texto plano para hacer muchas cosas. 
      %p
        Estoy fascinado con este modo mayor: Lo uso para programación literaria, escribir documentos y notas, gestionar mi calendario, y muchas otras cosas más.
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://orgmode.org/' }
          Ver página Web de Org-Mode
    .col-4
      %img{ :src => './imgs/Org-mode-unicorn.webp',
           :width => "150",
           :height => "148",
           :alt => "El logo de Org-mode."}

.container.my-3(data-aos="fade-up")
  %h2.card-title Emacs
  .row.align-items-center
    .col-8
      %p
        Bueno, seguro que ya adivinaste: ¡Emacs es mi editor de texto favorito!
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://www.gnu.org/software/emacs/' }
          Ver página Web de Emacs
    .col-4
      %img{ :src => './imgs/EmacsIcon.webp',
           :width => "150",
           :height => "150",
           :alt => "El logo de Emacs."}



