%h1 My interests

-#
  which is the JS responsible for adding a "style" attribute to the
  first row!? This fixes it, but is so annoying!!!
.row.align-items-center
  .col-8
  .col-4

.container.my-3(data-aos="fade-up")
  %h2 Universidad Nacional del Comahue (UNComa)
  
  .row.align-items-center
    .col-8
      %p
        This is the university where I study and work. UNComa is my
        %em Alma Mater
        !
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://uncoma.edu.ar/' }
          See the UNComa Homepage
    .col-4
      %img{ :src => './imgs/UNComa.jpg',
           :width  => "150",
           :height => "150",
           :alt => "The University logo."}
          
.container.my-3(data-aos="fade-up")
  %h2 Facultad de Informática (FaI)
  .row.align-items-center
    .col-8
      %p
        Inside the UNComa, the
        %em Facultad de Informática
        (faculty of informatics) is where I have my place of work specifically.
        Here I share with my colleagues and teach too. 
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://faiweb.uncoma.edu.ar/' }
          See the FaI Homepage
    .col-4
      %img{ :src => './imgs/FAI.webp',
           :width => "150",
           :height => "150",
           :alt => "The Faculty logo."}

.container.my-3(data-aos="fade-up")
  %h2 crowd
  .row.align-items-center
    .col-8
      %p
        Some time ago I helped to develop crowd. It is a visual tool to involve stakeholders into ontology engineering.        
      %p
        The aim of the tool is to use well-known visual languages and reasoning services for simplifying ontology and modelling development.
        
      %a.btn.btn-primary.my-1{ :href => 'http://crowd.fi.uncoma.edu.ar' }
        Visit the crowd Homepage
    .col-4
      %img{ :src => './imgs/crowd-small.webp',
           :width => "150",
           :height => "150",
           :alt => "The crowd logo."}

.container.my-3(data-aos="fade-up")
  %h2 Libre Software
  .row.align-items-center
    .col-8
      %p
        I use Libre Software on my everyday life. From GNU/Linux to Emacs, Firefox, and any tool published under free (as in freedom) licenses.
        I participate on events about ethics and Libre Software too.
      %p
        Would you like to read more about Libre Software? Click on the next link/button!
      %p
        %a.btn.btn-primary.btn-block.btn-lg{ :href => 'https://fsf.org/' }
          Read more info on the Internet
    .col-4
      %img{ :src => "./imgs/heckert_gnu.small.webp",
           :width => "150",
           :height => "143",
           :alt => "The GNU logo."}

      
.container.my-3(data-aos="fade-up")
  %h2 LaTeX Project
  .row.align-items-center
    .col-8
      %p
        LaTeX is my favourite text compiler. Along with Org-mode and Emacs, I use them for everything!
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://www.latex-project.org/' }
          LaTeX Homepage
        %a.btn.btn-secondary.my-1{ :href => 'https://ctan.org/' }
          CTAN
    .col-4
      %img{ :src => './imgs/LaTeX_only_bird.webp',
           :width => "150",
           :height => "115",
           :alt => "The LaTeX 3 logo."}

.container.my-3(data-aos="fade-up")
  %h2 Org Mode
  .row.align-items-center
    .col-8
      %p
        Org mode is an Emacs major mode. It is a real plain text system to do many thing.
      %p
        I am fascinated with this major mode: I use it to write literate programming, documents, notes, to manage my calendar, and many more things.
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://orgmode.org/' }
          Org Mode Homepage
    .col-4
      %img{ :src => './imgs/Org-mode-unicorn.webp',
           :width => "150",
           :height => "148",
           :alt => "The Org-mode logo."}

.container.my-3(data-aos="fade-up")
  %h2.card-title Emacs
  .row.align-items-center
    .col-8
      %p
        Well, as you have just guessed: Emacs is my favourite text editor!
      %p
        %a.btn.btn-primary.my-1{ :href => 'https://www.gnu.org/software/emacs/' }
          Emacs Homepage
    .col-4
      %img{ :src => './imgs/EmacsIcon.webp',
           :width => "150",
           :height => "150",
           :alt => "The Emacs logo."}



