%nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.shadow
  .container-fluid
    %button.navbar-toggler{ :type => "button", 'data-bs-toggle' => 'collapse',
                           'data-bs-target' => "#navbarSupportContent",
                           'aria-label' => 'Menu' }
      %span.navbar-toggler-icon

    %a.navbar-brand{:href => '#', :tabindex => -1}
      %img.d-inline-block.align-top{:src => './imgs/lion.webp',
                                    :width => 30, :height => 30,
                                    :alt => 'Mi avatar. Es un león, la mascota de LaTeX 2e.' }
      Christian Gimenez

    .collapse.navbar-collapse#navbarSupportContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item.active
          %a.nav-link{ :href => "#" } Mi perfil
        %li.nav-item
          %a.nav-link{ :href => "https://crowd.fi.uncoma.edu.ar" }
            %emph crowd
        %li.nav-item
          %a.nav-link{ :href => "http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home" }
            Mi Wiki

      %ul.navbar-nav.justify-content-end
        %li.nav-item
          %a.nav-link#webpresence{ :href => "xmpp:christiangimenez@suchat.org" }
            %i.far.fa-lightbulb.fa-fw.fa-lg
            Presencia Web
      | Mis repositorios:
      %ul.navbar-nav.justify-content-end        
        %li.nav-item
          %a.nav-link{ :href => "https://gitlab.com/cnngimenez/",
                       :alt => "Mis repositorios en Gitlab."}
            %i.fab.fa-gitlab
            Gitlab
        %li.nav-item
          %a.nav-link{ :href => "https://sr.ht/~cngimenez",
                       :alt => "My Sourcehut repositories."}
            %svg(width="1em" height="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
              <path fill="white" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path>
            Sourcehut
        %li.nav-item
          %a.nav-link{ :href => "https://codeberg.org/cnngimenez",
                       :alt => "My Codeberg repositories."}
            %img(src="./imgs/codeberg-logo.svg" width="19em" alt="Codeberg logo")
            Codeberg
        %li.nav-item
          %a.nav-link{ :href => "https://bitbucket.org/cnngimenez/",
                       :alt => "Mis repositorios en Bitbucket."}
            %i.fab.fa-bitbucket
            Bitbucket
        %li.nav-item
          %a.nav-link{ :href => "https://github.com/cnngimenez/",
                       :alt => "Mis repositorios en Github." }
            %i.fab.fa-github
            Github
