%h2 Clave Pública

%p
  Mi clave pública se puede descargar con el botón siguiente o usando la herramienta GPG2 desde una consola de comandos:
%p  
  %code gpg2 --receive-keys C936B214EB93830D
%p
  Software para gestionar claves públicas y privadas son: Kleopatra, Seahorse, KGpg, Emacs (usando epa), APG (para android), OpenKeyChain (para Android), etc.
  Clientes de correo que brindan soporte para cifrar y descifrar: Mutt, KMail, Thunderbird, Evolution, Emacs con Wanderlust, K9-Mail + APG (para Android), K9-Mail + OpenKeyChain, etc.

%p
  Más información en:
  %a{ :href => "https://emailselfdefense.fsf.org/es/"} Página Web de Email Self Defense 
        
%p
  %button.btn.btn-primary{:type => 'button',
                          'data-bs-toggle' => 'collapse',
                          'data-bs-target' => '#gpg-key'}
    Ver detalles

  %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/certificates/8EA85F43420045020C30EC02C936B214EB93830D.asc"}
    Descargar mi Clave pública

.collapse#gpg-key
  .border.border-primary
    %pre
      Giménez, Christian (Certificado para la cuenta de correo institucional.)
      C936B214EB93830D 2048bits DSA
      Created: 2014-05-20
      Fingerprint: 8EA85F43420045020C30EC02C936B214EB93830D
