%h2 Public Key

%p
  You can download from the button below or use the GPG2 utility with the following console command:

%p  
  %code gpg2 --receive-keys C936B214EB93830D

%p
  Software for managing public and private keys: Kleopatra, Seahorse, KGpg, Emacs (using epa), APG (para android), OpenKeyChain (for Android), etc.
  E-mail clients that supports encription: Mutt, KMail, Thunderbird, Evolution, Emacs with Wanderlust, K9-Mail + APG (for Android), K9-Mail + OpenKeyChain etc.

%p
  More information on
  %a{ :href => "https://emailselfdefense.fsf.org/"} Email Self Defense webpage.
        
%p
  %button.btn.btn-primary{:type => 'button',
                          'data-bs-toggle' => 'collapse',
                          'data-bs-target' => '#gpg-key'}
    See details

  %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/certificates/8EA85F43420045020C30EC02C936B214EB93830D.asc"}
    Download

.collapse#gpg-key
  .border.border-primary
    %pre
      Giménez, Christian (Certificado para la cuenta de correo institucional.)
      C936B214EB93830D 2048bits DSA
      Created: 2014-05-20
      Fingerprint: 8EA85F43420045020C30EC02C936B214EB93830D
