%h1 Mis Repositorios

¡Mirá mis repositorios de proyectos y código fuentes!

%p
  %i.fab.fa-gitlab
  %a(href="https://gitlab.com/cnngimenez/") Ir a mi perfil en Gitlab.
%p
  %svg(width="1em" height="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"  alt="Sourcehut logo")
    <path fill="white" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path>
  %a(href="https://sr.ht/~cngimenez") Ir a mi perfil en Sourcehut (sr.ht).
%p
  %img(src="./imgs/codeberg-logo.svg" width="19em" alt="Codeberg logo")
  %a(href="https://codeberg.org/cnngimenez") Ir a mi perfil en Codeberg.
%p
  %i.fab.fa-bitbucket
  %a(href="https://bitbucket.org/cnngimenez/") Ir a mi perfil en Bitbucket.
%p
  %i.fab.fa-github
  %a(href="https://github.com/cnngimenez/") Ir a mi perfil en Github.
