%h1 Materiales usados en clases y otras cosas
%p
  ¿Estás buscando materiales y presentaciones usados en clases y eventos? Están en mi Wiki. También encontrarás más información de contacto, notas y recursos utilizados en cursos que te pueden interesar.
%p
  %a.btn.btn-primary{:href => 'http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home'}
    ¡Ir a mi Wiki!

