%h1 Materials used in classes and other stuff
%p
  Looking for events materials and class presentations? They are at my Wiki.  Also, there are more contact information, notes and learning resources you may find interesting.
%p
  %a.btn.btn-primary{:href => 'http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home'}
    Go to my Wiki!

