:root {

    /* Polar night */
    
    --nord0 : #2e3440;
    --nord1 : #3b4252;
    --nord2 : #434c5e;
    --nord3 : #4c566a;
    --nord0-rgb: 46, 52, 64;
    --nord1-rgb : 59, 66, 82;
    --nord2-rgb : 67, 76, 94;
    --nord3-rgb : 76, 86, 106;

    /* Snow storm */

    --nord4 : #d8dee9;
    --nord5 : #e5e9f0;
    --nord6 : #eceff4;
    --nord4-rgb : 216, 222, 233;
    --nord5-rgb : 229, 233, 240;
    --nord6-rgb : 236, 239, 244;

    /* Frost */

    --nord7 : #8fbcbb;
    --nord8 : #88c0d0;
    --nord9 : #81a1c1;
    --nord10 : #5e81ac;
    --nord7-rgb : 143, 188, 187;
    --nord8-rgb : 136, 192, 208;
    --nord9-rgb : 129, 161, 193;
    --nord10-rgb : 94, 129, 172;

    /* Aurora */

    --nord11 : #bf616a;
    --nord12 : #d08770;
    --nord13 : #ebcb8b;
    --nord14 : #a3be8c;
    --nord15 : #b48ead;
    --nord11-rgb : 191, 97, 106;
    --nord12-rgb : 208, 135, 112;
    --nord13-rgb : 235, 203, 139;
    --nord14-rgb : 163, 190, 140;
    --nord15-rgb : 180, 142, 173;

    --bs-body-bg: var(--nord0);
    --bs-body-color: var(--nord4);
    --bs-primary: var(--nord8);
    --bs-primary-rgb: var(--nord8-rgb);
    --bs-danger-rgb: var(--nord11-rgb);
    --bs-link-color-rgb: var(--nord7-rgb);
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
}
/*
.bg-primary {
    background-color: var(--nord8);    
}

.bg-danger {
    background-color: var(--nord11);
}
*/
.badge {
    color: var(--nord0);
}
.badge.bg-danger {
    color: var(--nord4);
}

.btn-primary {
    border-color: var(--nord8);
    background-color: var(--nord8);
    color: var(--nord0);
}

.btn-secondary {
    border-color: var(--nord9);
    background-color: var(--nord9);
    color: var(--nord0);
}

nav.navbar {
    background-color: var(--nord0);
    color: var(--nord4);
}
.nav-link {
    color: var(--nord7);
}

#webpresence {
    /*background-color: var(--nord6);*/
    filter: contrast(150%);
}

#particles-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: -1;
}

#particles-title {
    display: block;
    height: 10em;
    width: 100%;
}

.title {
    place-items: center;
    display: flex;
    justify-content: center;
}

.title-text {
    z-index: -1;
    position: absolute;
    text-align: center;
}

.card {
    background-color: #ffffff00;
}

.height-lg {
    height: 725px;
}
.height-m{
    height: 500px;
}
.height-sm{
    height: 250px;
}
.height-lg2 {
    height: 1000px;
}
h1 {
    padding-top: 0.5em;
}
h2 {
    padding-top: 0.25em;
}
